@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

abbr.currency{
	font-style: italic;
}

var{
	font-style: italic;
}

figure{
	margin: 1em auto;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figure + p{
	text-indent: 0;
}

table{
	border-collapse: collapse;
	margin: 1em auto;
}

caption{
	font-style: italic;
}

th,
td{
	padding: .25em .5em;
	font-weight: normal;
	text-align: left;
	vertical-align: top;
}

thead th{
	text-align: center;
}

td.numeral{
	text-align: right;
	font-variant-numeric: tabular-nums;
}

td.result{
	border-top: 1px solid;
}

[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

[epub|type~="bridgehead"] i{
	font-style: normal;
}

/* number sequences in chapter 5 */

.sequence{
	list-style: none;
	text-align: center;
	margin: 1em auto;
	padding: 0;
}
.sequence>li{
	display: inline;
	margin: 0 1em;
}
.sequence p{
	display: inline;
}
@supports(display: flex){
	.sequence{
		display: flex;
		justify-content: space-evenly;
	}
	.sequence>li{
		margin: 0;
	}
}
